* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}   

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
}  
.shipment-container {
    border: #000000;
    border-width: 10px;
    background-color: #f5f5f5; 
    margin-bottom:10px;
    font-weight: bolder;
    font-size: 15px;
} 

.status-container {
    margin: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 10px;
    max-width: 500%;
    box-shadow: 0 0 10px rgba   (0, 0, 0, 0.2);
    margin-bottom: 10px;
}
  
.status {
    background-color: #546CA1;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.footer-icons {
    background-color: #3498db;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    max-width: 1000px;
}

.footer-icons i {
    margin: 10px;
    cursor: pointer;
    color: #fafcfd;
}

@media only screen and (max-width: 320px) {
    .status-container {
      padding: 15px;
    }
    .status {
      font-size: 20px;
    }
}
  