body {
    font-family: 'Montserrat', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    color: #fff;
    padding: 10px 10px 0px 10px;
}
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px 0px 18px;
    background-color: #f5f5f5;
    height: 50px;
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
}

#shipment_container {
    margin: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#deliver_details {
    margin: 2.5px;
    border: 1px solid #4ca2dc;
    border-radius: 15px;
    padding: 7.5px;
    background-color: #63a9d8;
}

#delivered_name {
    font-weight: 900;
    font-size: 20px;
}

#from_to_info {
    margin-top: 20px;
}

.back-button, 
.menu-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button i,
.menu-button i {
    font-size: 2em;
}


/*footer style */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #546ca1;
    color: #fff;
    padding: 8px;
    margin-top: auto;
}

.footer-button {
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.footer-button i {
    font-size: 1.6em;
    margin-bottom: 5px;
}

.footer-button p {
    font-size: x-small;
    margin: 0;
}
.footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #546ca1;
    color: #fff;
    padding: 8px;
    margin-top: auto;
}

.icon-link {
    text-align: center;
    text-decoration: none; 
    color: #fff; 
    margin: 0 38px; 
}

.footer-icons i {
    font-size: 1.6em;
    margin-bottom: 5px;
    transition: color 0.3s;
}
.footer-icons a:hover i {
    color: #374d7b;
}
.icon-link:hover i {
    color: #374d7b; 
}

.footer-icons span {
    font-size: x-small;
    margin: 0;
}
